.list5 {
  color:black;
  text-align:center;
  .style_image {
     transition: all 1s ease;
     border-radius: 50px;
  }

  .style_image:hover {
     transform:scale(1.12);
   }

  ol { list-style-type: none; font-size:18px; }
  ol li { }
  ol li ol { margin: 20px;list-style-image: url("../images/nested.png"); padding:5px 0 5px 18px; font-size:15px; }
  ol li ol li { list-style-type: none; color:black; height:15px; margin-right: 17px;  }
 }
